<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fady.socialnetwork">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sna_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sna_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".adminActivity" />
        <activity android:name=".groupActivity" />
        <activity android:name=".addUserActivity" />
        <activity android:name=".deleteUserActivity" />
        <activity android:name=".UsersActivity" />
        <activity android:name=".userXml" />
        <activity android:name=".postsActivity" />
        <activity android:name=".UserOptionsActivity" />
        <activity android:name=".addPostActivity" />
        <activity android:name=".UserPosts" />
        <activity android:name=".addFriendList" />
        <activity android:name=".showFriends"></activity>
    </application>

</manifest>